infra/n8n-workflows/rhf/rhf-pricelist-sync.json
{
  "name": "RHF Pricelist Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 0,
              "field": "cronExpression",
              "expression": "0 6 * * 1,3,4"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Mon/Wed/Thu 6AM AEST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "notes": "Runs Mon/Wed/Thu at 6am to fetch supplier pricelists before ordering"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ops.growthcohq.com/api/rhf/sync/pricelist",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"days\": 7,\n  \"supplier\": \"all\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "trigger-pricelist-sync",
      "name": "Trigger Pricelist Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rhf-webhook-auth",
          "name": "RHF Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO integration_logs (source, service, operation, level, status, message, details_json) VALUES ('rhf', 'pricelist_sync', 'n8n_trigger', 'info', 'success', 'Pricelist sync completed via n8n', '{{ JSON.stringify($json) }}'::jsonb)",
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "supabase",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO integration_logs (source, service, operation, level, status, message, details_json) VALUES ('rhf', 'pricelist_sync', 'n8n_trigger', 'error', 'failed', 'Pricelist sync failed', '{{ JSON.stringify($json) }}'::jsonb)",
        "options": {}
      },
      "id": "log-failure",
      "name": "Log Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "supabase",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alert-message",
              "name": "message",
              "value": "=RHF Pricelist Sync Failed\n\nTime: {{ $now.toISO() }}\nError: {{ $json.error || 'Unknown error' }}\n\nCheck integration_logs for details.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-alert",
      "name": "Format Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Mon/Thu 6AM AEST": {
      "main": [
        [
          {
            "node": "Trigger Pricelist Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Pricelist Sync": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Failure": {
      "main": [
        [
          {
            "node": "Format Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "Australia/Melbourne"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "master-ops",
    "templateCredsSetupCompleted": true
  },
  "id": "rhf-pricelist-sync",
  "tags": [
    {
      "id": "rhf",
      "name": "rhf"
    },
    {
      "id": "sync",
      "name": "sync"
    }
  ]
}
