infra/claude-automation/n8n-task-processor-simple.json
{
  "name": "Claude Task Processor - Simple",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no -o BatchMode=yes -i /home/node/.ssh/id_ed25519 root@134.199.175.243 '/var/www/master-ops/infra/claude-automation/process-task.sh {{ $json.task_id }}'"
      },
      "id": "run-task",
      "name": "Execute Task via SSH",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://qcvfxxsnqvdfmpbcgdni.supabase.co/rest/v1/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id"
            },
            {
              "name": "status",
              "value": "in.(pending,pending_input)"
            },
            {
              "name": "execution_type",
              "value": "eq.auto"
            },
            {
              "name": "order",
              "value": "priority.asc,created_at.asc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjdmZ4eHNucXZkZm1wYmNnZG5pIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODU2NzIyNywiZXhwIjoyMDY0MTQzMjI3fQ.JLTj1pOvZLoWUKfCV5NtctNI-lkEBhCzF7C9Axm6nf8"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-task",
      "name": "Fetch Pending Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-task",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-task",
      "name": "Has Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "jsCode": "// $json is already the task object {id: 58, ...} from HTTP Request\nconst task = $input.first().json;\nreturn [{ json: { task_id: task.id } }];"
      },
      "id": "extract-id",
      "name": "Extract Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "done",
              "name": "status",
              "value": "no_pending_tasks",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "no-task",
      "name": "No Tasks",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, 500]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Pending Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Task": {
      "main": [
        [
          {
            "node": "Has Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Task?": {
      "main": [
        [
          {
            "node": "Extract Task ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task ID": {
      "main": [
        [
          {
            "node": "Execute Task via SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
