infra/claude-automation/n8n-workflow.json
{
  "name": "Claude Code Task Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, business, category, priority, status\nFROM tasks\nWHERE status IN ('pending', 'needs_fix')\n  AND (triage_status = 'triaged' OR triage_status IS NULL)\n  AND (next_action_after IS NULL OR next_action_after <= NOW())\n  AND retry_count < 3\nORDER BY priority ASC, created_at ASC\nLIMIT 1",
        "options": {}
      },
      "id": "get-pending-task",
      "name": "Get Pending Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-task",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-task-exists",
      "name": "Has Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO task_logs (task_id, source, status, message)\nVALUES ('{{ $json.id }}', 'n8n', 'info', 'Task picked up by automation workflow')\nRETURNING id",
        "options": {}
      },
      "id": "log-task-pickup",
      "name": "Log Task Pickup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "command": "cd /home/user/master-ops && ./infra/claude-automation/process-task.sh {{ $('Get Pending Task').item.json.id }}"
      },
      "id": "run-claude-processor",
      "name": "Run Claude Processor",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1120, 200],
      "credentials": {
        "sshPrivateKey": {
          "id": "ssh-n8n-primary",
          "name": "SSH n8n-primary"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "exit-code-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO task_logs (task_id, source, status, message, details_json)\nVALUES (\n  '{{ $('Get Pending Task').item.json.id }}',\n  'n8n',\n  'success',\n  'Task processing completed successfully',\n  '{{ JSON.stringify({ exitCode: $json.exitCode, stdout: $json.stdout?.substring(0, 1000) }) }}'\n)\nRETURNING id",
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO task_logs (task_id, source, status, message, details_json)\nVALUES (\n  '{{ $('Get Pending Task').item.json.id }}',\n  'n8n',\n  'error',\n  'Task processing failed',\n  '{{ JSON.stringify({ exitCode: $json.exitCode, stderr: $json.stderr?.substring(0, 1000), stdout: $json.stdout?.substring(0, 500) }) }}'\n);\n\nUPDATE tasks\nSET \n  status = 'failed',\n  supervisor_summary = 'Automation workflow detected failure. Exit code: {{ $json.exitCode }}'\nWHERE id = '{{ $('Get Pending Task').item.json.id }}'",
        "options": {}
      },
      "id": "log-failure",
      "name": "Log Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-tasks",
      "name": "No Tasks",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*) FILTER (WHERE status = 'pending') as pending_count,\n  COUNT(*) FILTER (WHERE status = 'in_progress') as in_progress_count,\n  COUNT(*) FILTER (WHERE status = 'failed') as failed_count,\n  COUNT(*) FILTER (WHERE status = 'completed' AND updated_at > NOW() - INTERVAL '24 hours') as completed_24h\nFROM tasks",
        "options": {}
      },
      "id": "get-stats",
      "name": "Get Task Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1780, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Pending Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Task": {
      "main": [
        [
          {
            "node": "Has Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Task?": {
      "main": [
        [
          {
            "node": "Log Task Pickup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Task Pickup": {
      "main": [
        [
          {
            "node": "Run Claude Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Claude Processor": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Get Task Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Failure": {
      "main": [
        [
          {
            "node": "Get Task Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "automation",
      "id": "auto-1"
    },
    {
      "name": "claude-code",
      "id": "claude-1"
    }
  ],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "master-ops"
  },
  "pinData": {},
  "notes": [
    {
      "title": "Claude Code Task Processor",
      "content": "This workflow processes tasks from the Supabase `tasks` table using Claude Code in headless mode.\n\n**Setup Required:**\n1. Configure 'Supabase Postgres' credential with your Supabase connection string\n2. Configure 'SSH n8n-primary' credential for localhost (or remove if running on same machine)\n3. Run setup-headless.sh to authenticate Claude Code\n\n**How it works:**\n1. Triggers every 5 minutes\n2. Queries for oldest pending/needs_fix task\n3. SSHs to run process-task.sh\n4. Logs results back to Supabase\n\n**Task Priority:**\n- Priority 1 (Urgent) processed first\n- Then by created_at (oldest first)\n- Max 3 retries per task",
      "position": [240, 80],
      "size": [400, 200]
    },
    {
      "title": "Credentials Setup",
      "content": "**Supabase Postgres:**\n- Host: db.qcvfxxsnqvdfmpbcgdni.supabase.co\n- Port: 5432\n- Database: postgres\n- User: postgres\n- Password: (from Supabase dashboard)\n- SSL: Require\n\n**SSH n8n-primary:**\n- Host: localhost (or 127.0.0.1)\n- Port: 22\n- Username: root\n- Private Key: (your SSH key)",
      "position": [680, 440],
      "size": [350, 180]
    }
  ]
}
