smartlead-hubspot-CLEAN.json
{
  "name": "SmartLead to HubSpot Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartlead-webhook",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "filterGroups",
              "value": "={{ [{\"filters\": [{\"propertyName\": \"email\", \"operator\": \"EQ\", \"value\": $json.lead_email}]}] }}"
            }
          ]
        }
      },
      "name": "Search HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "properties",
              "value": "={{ {\"email\": $json.lead_email, \"firstname\": $json.lead_first_name, \"lastname\": $json.lead_last_name} }}"
            }
          ]
        }
      },
      "name": "Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PATCH",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "properties",
              "value": "={{ {\"outreach_email_count\": ($json.properties.outreach_email_count || 0) + 1} }}"
            }
          ]
        }
      },
      "name": "Update Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search HubSpot": {
      "main": [
        [
          {
            "node": "Create Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
