archive/backup-lj35rsDvrz5LK9Ox-1763525937135.json
{
  "updatedAt": "2025-11-17T23:25:12.000Z",
  "createdAt": "2025-11-16T23:19:37.253Z",
  "id": "lj35rsDvrz5LK9Ox",
  "name": "3. Sync Orders to Unleashed",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        496
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OuTnaQ2-oUCDxS3MUnAcW7RGIOVnnrd6NsI9MjuIt5o",
          "mode": "list",
          "cachedResultName": "Shopify to Unleashed Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OuTnaQ2-oUCDxS3MUnAcW7RGIOVnnrd6NsI9MjuIt5o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OuTnaQ2-oUCDxS3MUnAcW7RGIOVnnrd6NsI9MjuIt5o/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "unleashed_status",
              "lookupValue": "Ready to Sync"
            }
          ]
        },
        "options": {}
      },
      "id": "get-ready",
      "name": "Get Ready Orders",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        464,
        496
      ],
      "typeVersion": 4.1,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rGHH0Uz7XyFiUaFG",
          "name": "FYIC Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop",
      "name": "Loop Over Orders",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        688,
        256
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Parse the full Shopify order JSON from the sheet\nconst sheetRow = $input.first().json;\nconst order = JSON.parse(sheetRow.full_json);\n\n// Extract shipping address\nconst shipping = order.shipping_address || {};\nconst billing = order.billing_address || {};\n\n// Build Unleashed order structure\nconst unleashedOrder = {\n  OrderNumber: sheetRow.unleashed_order,\n  OrderDate: order.created_at,\n  OrderStatus: 'Parked',\n  \n  // Customer info\n  Customer: {\n    CustomerCode: order.customer?.email || order.email,\n    CustomerName: `${order.customer?.first_name || ''} ${order.customer?.last_name || ''}`.trim(),\n    Email: order.email,\n    PhoneNumber: order.customer?.phone || shipping.phone || ''\n  },\n  \n  // Currency\n  Currency: {\n    CurrencyCode: order.currency || 'AUD'\n  },\n  \n  // Delivery details\n  DeliveryName: shipping.name || `${shipping.first_name || ''} ${shipping.last_name || ''}`.trim(),\n  DeliveryStreetAddress: shipping.address1 || '',\n  DeliveryStreetAddress2: shipping.address2 || '',\n  DeliverySuburb: shipping.city || '',\n  DeliveryCity: shipping.city || '',\n  DeliveryRegion: shipping.province || '',\n  DeliveryCountry: shipping.country || '',\n  DeliveryPostalCode: shipping.zip || '',\n  \n  // Comments/Notes\n  Comments: order.note || '',\n  \n  // Line items with SKU, quantity, price\n  OrderLines: (order.line_items || []).map((item, index) => ({\n    LineNumber: index + 1,\n    Product: {\n      ProductCode: item.sku || item.variant_id?.toString() || 'UNKNOWN'\n    },\n    OrderQuantity: item.quantity,\n    UnitPrice: parseFloat(item.price || 0),\n    DiscountRate: 0,\n    TaxRate: item.tax_lines?.[0]?.rate ? parseFloat(item.tax_lines[0].rate) * 100 : 0,\n    LineTotal: parseFloat(item.price || 0) * item.quantity,\n    LineTax: parseFloat(item.tax_lines?.[0]?.price || 0)\n  })),\n  \n  // Subtotals\n  SubTotal: parseFloat(order.subtotal_price || 0),\n  TaxTotal: parseFloat(order.total_tax || 0),\n  Total: parseFloat(order.total_price || 0)\n};\n\nreturn [{ \n  json: {\n    ...unleashedOrder,\n    unleashed_order: sheetRow.unleashed_order,\n    order_number: sheetRow.order_number,\n    row_number: sheetRow.row_number\n  }\n}];"
      },
      "id": "prepare",
      "name": "Prepare Unleashed Data",
      "type": "n8n-nodes-base.code",
      "position": [
        912,
        256
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unleashedsoftware.com/SalesOrders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-auth-id",
              "value": "={{ $json._authHeaders['api-auth-id'] }}"
            },
            {
              "name": "api-auth-signature",
              "value": "={{ $json._authHeaders['api-auth-signature'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"OrderNumber\": {{ JSON.stringify($json.OrderNumber) }},\n  \"OrderDate\": {{ JSON.stringify($json.OrderDate) }},\n  \"OrderStatus\": {{ JSON.stringify($json.OrderStatus) }},\n  \"Customer\": {{ JSON.stringify($json.Customer) }},\n  \"Currency\": {{ JSON.stringify($json.Currency) }},\n  \"DeliveryName\": {{ JSON.stringify($json.DeliveryName) }},\n  \"DeliveryStreetAddress\": {{ JSON.stringify($json.DeliveryStreetAddress) }},\n  \"DeliveryStreetAddress2\": {{ JSON.stringify($json.DeliveryStreetAddress2) }},\n  \"DeliverySuburb\": {{ JSON.stringify($json.DeliverySuburb) }},\n  \"DeliveryCity\": {{ JSON.stringify($json.DeliveryCity) }},\n  \"DeliveryRegion\": {{ JSON.stringify($json.DeliveryRegion) }},\n  \"DeliveryCountry\": {{ JSON.stringify($json.DeliveryCountry) }},\n  \"DeliveryPostalCode\": {{ JSON.stringify($json.DeliveryPostalCode) }},\n  \"Comments\": {{ JSON.stringify($json.Comments) }},\n  \"OrderLines\": {{ JSON.stringify($json.OrderLines) }},\n  \"SubTotal\": {{ $json.SubTotal }},\n  \"TaxTotal\": {{ $json.TaxTotal }},\n  \"Total\": {{ $json.Total }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "create-unleashed",
      "name": "Create in Unleashed",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1360,
        256
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1OuTnaQ2-oUCDxS3MUnAcW7RGIOVnnrd6NsI9MjuIt5o",
          "mode": "list",
          "cachedResultName": "Shopify to Unleashed Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OuTnaQ2-oUCDxS3MUnAcW7RGIOVnnrd6NsI9MjuIt5o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OuTnaQ2-oUCDxS3MUnAcW7RGIOVnnrd6NsI9MjuIt5o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "unleashed_order": "=$json.unleashed_order",
            "unleashed_status": "Synced",
            "last_checked": "=$now.toISO()"
          },
          "matchingColumns": [
            "unleashed_order"
          ]
        },
        "options": {}
      },
      "id": "update-synced",
      "name": "Update Synced",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2256,
        160
      ],
      "typeVersion": 4.1,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rGHH0Uz7XyFiUaFG",
          "name": "FYIC Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2480,
        352
      ],
      "id": "0d7d7e08-cf9a-4520-8278-61c4fa325f29",
      "name": "Wait",
      "webhookId": "8d7b6b06-28b6-4318-b8e5-8f82b587dfdb"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49679287-b427-4211-bfc5-919360279953",
              "leftValue": "={{ $json.Guid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1584,
        256
      ],
      "id": "9f314472-1783-4a24-ae49-bcefa348935a",
      "name": "Check Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0",
              "name": "orderNumber",
              "type": "string",
              "value": "={{ $json.OrderNumber }}"
            },
            {
              "id": "1",
              "name": "failedResponse",
              "type": "string",
              "value": "={{ JSON.stringify($json, null, 2) }}"
            },
            {
              "id": "2",
              "name": "orderRef",
              "type": "string",
              "value": "={{ $json.unleashed_order || 'N/A' }}"
            },
            {
              "id": "3",
              "name": "rowNumber",
              "type": "number",
              "value": "={{ $json.row_number }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "prepare-ai-input",
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.set",
      "position": [
        1808,
        352
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "You are an expert at debugging Shopify to Unleashed order sync failures. Analyze the failed API response and provide:\n\n1. ROOT CAUSE (one clear sentence)\n2. SPECIFIC ISSUE (what exactly went wrong)\n3. MISSING/INVALID DATA (list each problematic item)\n4. MANUAL FIX STEPS (numbered, actionable steps)\n5. PREVENTION (how to avoid this in future)\n\nBe specific and actionable. Reference exact field names and values. Format your response in clear sections with headers. Keep it concise but complete."
            },
            {
              "content": "Order Number: {{ $json.orderNumber }}\nOrder Reference: {{ $json.orderRef }}\n\nFailed Response:\n{{ $json.failedResponse }}\n\nAnalyze this failure and provide a detailed diagnosis with specific fix steps."
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        },
        "requestOptions": {}
      },
      "id": "ai-analyze",
      "name": "AI Analyze Failure",
      "type": "n8n-nodes-base.openAi",
      "position": [
        2032,
        352
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "3QU3wbcpuf1r5lya",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1OuTnaQ2-oUCDxS3MUnAcW7RGIOVnnrd6NsI9MjuIt5o",
          "mode": "list",
          "cachedResultName": "Shopify to Unleashed Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OuTnaQ2-oUCDxS3MUnAcW7RGIOVnnrd6NsI9MjuIt5o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OuTnaQ2-oUCDxS3MUnAcW7RGIOVnnrd6NsI9MjuIt5o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "=$('Prepare AI Input').item.json.rowNumber",
            "unleashed_status": "Failed - AI Reviewed",
            "ai_review_notes": "=$json.message.content",
            "last_checked": "=$now.toISO()"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "order_number",
              "displayName": "order_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shopify_id",
              "displayName": "shopify_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_json",
              "displayName": "full_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unleashed_order",
              "displayName": "unleashed_order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unleashed_status",
              "displayName": "unleashed_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_checked",
              "displayName": "last_checked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_review_notes",
              "displayName": "ai_review_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "update-ai-notes",
      "name": "Update AI Notes",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2256,
        352
      ],
      "typeVersion": 4.1,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rGHH0Uz7XyFiUaFG",
          "name": "FYIC Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "737c0da1-f93b-4261-bf63-22bb83c75f01",
              "name": "signatureString",
              "value": "POSThttps://api.unleashedsoftware.com/SalesOrders",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        256
      ],
      "id": "3ee83f89-636a-449e-9ec5-34bca6b3dd9f",
      "name": "Prepare Signature String"
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Get Ready Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ready Orders": {
      "main": [
        [
          {
            "node": "Loop Over Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Orders": {
      "main": [
        [
          {
            "node": "Get Ready Orders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Unleashed Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Unleashed Data": {
      "main": [
        [
          {
            "node": "Prepare Signature String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create in Unleashed": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Update Synced",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Synced": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "AI Analyze Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyze Failure": {
      "main": [
        [
          {
            "node": "Update AI Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update AI Notes": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Ready Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Signature String": {
      "main": [
        [
          {
            "node": "Create in Unleashed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "96ce849f-ebf1-4284-9512-e94d505afa6d",
  "versionCounter": 22,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-16T23:19:37.256Z",
      "createdAt": "2025-11-16T23:19:37.256Z",
      "role": "workflow:owner",
      "workflowId": "lj35rsDvrz5LK9Ox",
      "projectId": "5oCbMcXSAagVfhlF",
      "project": {
        "updatedAt": "2025-06-29T19:14:28.084Z",
        "createdAt": "2025-06-29T19:10:57.538Z",
        "id": "5oCbMcXSAagVfhlF",
        "name": "Jayson rodda <jayson@fyic.com.au>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-29T19:10:57.539Z",
            "createdAt": "2025-06-29T19:10:57.539Z",
            "userId": "cfbfbd4e-ebe1-4333-b3d2-5eada8b72644",
            "projectId": "5oCbMcXSAagVfhlF",
            "user": {
              "updatedAt": "2025-11-18T13:00:18.000Z",
              "createdAt": "2025-06-29T19:10:57.240Z",
              "id": "cfbfbd4e-ebe1-4333-b3d2-5eada8b72644",
              "email": "jayson@fyic.com.au",
              "firstName": "Jayson",
              "lastName": "rodda",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-29T19:14:38.973Z",
                "personalization_survey_n8n_version": "1.99.1",
                "companySize": "<20",
                "companyType": "ecommerce",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                },
                "firstSuccessfulWorkflowId": "hTAOVfbD24hU9eAF",
                "userActivatedAt": 1751505505582,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1752809644774
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}