infra/n8n/workflows/page-change-analyzer.json
{
  "name": "Dashboard Page Analyzer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Daily at 6 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://qcvfxxsnqvdfmpbcgdni.supabase.co/rest/v1/v_stale_pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-stale-pages",
      "name": "Get Stale Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "id": "check-has-pages",
      "name": "Has Stale Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split-batches",
      "name": "Batch Pages (5)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [920, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qcvfxxsnqvdfmpbcgdni.supabase.co/rest/v1/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"Analyze dashboard page: {{ $json.page_name }}\",\n  \"description\": \"Analyze page for improvements:\\n\\nPage: {{ $json.page_name }}\\nRoute: {{ $json.route }}\\nCategory: {{ $json.category }}\\nLast analyzed: {{ $json.days_since_analysis }} days ago\\n\\nPerform comprehensive analysis:\\n- UX/Design review\\n- Performance check\\n- Code quality\\n- Feature completeness\\n\\nLog findings to dashboard_page_analysis and create improvements in dashboard_page_improvements.\",\n  \"business\": \"overall\",\n  \"category\": \"dashboard\",\n  \"priority\": 3,\n  \"status\": \"pending\",\n  \"execution_type\": \"auto\"\n}"
      },
      "id": "create-analysis-task",
      "name": "Create Analysis Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qcvfxxsnqvdfmpbcgdni.supabase.co/rest/v1/rpc/update_job_status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_job_name\": \"page-analyzer\",\n  \"p_business\": null,\n  \"p_status\": \"healthy\",\n  \"p_error_message\": null\n}"
      },
      "id": "update-job-status-success",
      "name": "Update Job: Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qcvfxxsnqvdfmpbcgdni.supabase.co/rest/v1/rpc/update_job_status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_job_name\": \"page-analyzer\",\n  \"p_business\": null,\n  \"p_status\": \"healthy\",\n  \"p_error_message\": \"No stale pages found\"\n}"
      },
      "id": "update-job-status-no-pages",
      "name": "Update Job: No Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [920, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qcvfxxsnqvdfmpbcgdni.supabase.co/rest/v1/workflow_execution_logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_name\": \"page-analyzer\",\n  \"status\": \"success\",\n  \"nodes_executed\": 6,\n  \"nodes_failed\": 0,\n  \"execution_details\": {\n    \"stale_pages_found\": {{ $node[\"Get Stale Pages\"].json.length || 0 }},\n    \"tasks_created\": {{ $node[\"Get Stale Pages\"].json.length || 0 }}\n  }\n}"
      },
      "id": "log-execution",
      "name": "Log Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1580, 200]
    }
  ],
  "connections": {
    "Daily at 6 AM": {
      "main": [
        [
          {
            "node": "Get Stale Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stale Pages": {
      "main": [
        [
          {
            "node": "Has Stale Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Stale Pages?": {
      "main": [
        [
          {
            "node": "Batch Pages (5)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Job: No Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Pages (5)": {
      "main": [
        [
          {
            "node": "Create Analysis Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Analysis Task": {
      "main": [
        [
          {
            "node": "Update Job: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job: Success": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring"
    },
    {
      "name": "dashboard"
    },
    {
      "name": "continuous-improvement"
    }
  ]
}
