buy-organics-online/n8n-workflows/02-store-backup.json
{
  "name": "BOO Store Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 16 * * *"
            }
          ]
        }
      },
      "id": "trigger-daily",
      "name": "Daily Trigger (2 AM AEST)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "notes": "Runs at 2 AM AEST (16:00 UTC) for daily incremental backup"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 0"
            }
          ]
        }
      },
      "id": "trigger-weekly",
      "name": "Weekly Trigger (3 AM AEST Sunday)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 200],
      "notes": "Runs at 3 AM AEST Sunday (17:00 UTC Saturday) for full weekly backup"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 1 * *"
            }
          ]
        }
      },
      "id": "trigger-monthly",
      "name": "Monthly Trigger (4 AM AEST 1st)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 400],
      "notes": "Runs at 4 AM AEST on 1st of month for monthly archive"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "backup_type",
              "value": "={{ $node['Daily Trigger (2 AM AEST)'].context?.active ? 'daily' : $node['Weekly Trigger (3 AM AEST Sunday)'].context?.active ? 'weekly' : 'monthly' }}"
            }
          ]
        }
      },
      "id": "set-backup-type",
      "name": "Set Backup Type",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [250, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT start_boo_backup('{{ $json.backup_type }}', 'n8n') as job_id"
      },
      "id": "start-backup-job",
      "name": "Start Backup Job",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 200],
      "credentials": {
        "supabaseApi": {
          "id": "boo-supabase",
          "name": "BOO Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.bigcommerce.com/stores/{{ $credentials.storeHash }}/v3/catalog/products",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bigCommerceApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "queryParameters": {
          "parameter": [
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "include",
              "value": "variants,images,custom_fields"
            }
          ]
        }
      },
      "id": "fetch-products",
      "name": "Fetch Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 0],
      "credentials": {
        "bigCommerceApi": {
          "id": "boo-bigcommerce",
          "name": "BOO BigCommerce"
        }
      },
      "notes": "Fetch all products with variants, images, custom fields. Paginate through all pages."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.bigcommerce.com/stores/{{ $credentials.storeHash }}/v3/catalog/categories",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bigCommerceApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "queryParameters": {
          "parameter": [
            {
              "name": "limit",
              "value": "250"
            }
          ]
        }
      },
      "id": "fetch-categories",
      "name": "Fetch Categories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 150],
      "credentials": {
        "bigCommerceApi": {
          "id": "boo-bigcommerce",
          "name": "BOO BigCommerce"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.bigcommerce.com/stores/{{ $credentials.storeHash }}/v3/catalog/brands",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bigCommerceApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "queryParameters": {
          "parameter": [
            {
              "name": "limit",
              "value": "250"
            }
          ]
        }
      },
      "id": "fetch-brands",
      "name": "Fetch Brands",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "credentials": {
        "bigCommerceApi": {
          "id": "boo-bigcommerce",
          "name": "BOO BigCommerce"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.bigcommerce.com/stores/{{ $credentials.storeHash }}/v3/customers",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bigCommerceApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "queryParameters": {
          "parameter": [
            {
              "name": "limit",
              "value": "250"
            }
          ]
        }
      },
      "id": "fetch-customers",
      "name": "Fetch Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 450],
      "credentials": {
        "bigCommerceApi": {
          "id": "boo-bigcommerce",
          "name": "BOO BigCommerce"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.bigcommerce.com/stores/{{ $credentials.storeHash }}/v2/orders",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bigCommerceApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "queryParameters": {
          "parameter": [
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "min_date_modified",
              "value": "={{ $json.backup_type === 'daily' ? new Date(Date.now() - 86400000).toISOString() : '' }}"
            }
          ]
        }
      },
      "id": "fetch-orders",
      "name": "Fetch Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 600],
      "credentials": {
        "bigCommerceApi": {
          "id": "boo-bigcommerce",
          "name": "BOO BigCommerce"
        }
      },
      "notes": "For daily backups, only fetch orders modified in last 24h. For weekly/monthly, fetch all."
    },
    {
      "parameters": {
        "jsCode": "// Combine all fetched data and prepare for upload\nconst products = $('Fetch Products').all()[0]?.json?.data || [];\nconst categories = $('Fetch Categories').all()[0]?.json?.data || [];\nconst brands = $('Fetch Brands').all()[0]?.json?.data || [];\nconst customers = $('Fetch Customers').all()[0]?.json?.data || [];\nconst orders = $('Fetch Orders').all()[0]?.json || [];\n\nconst backupType = $('Set Backup Type').all()[0]?.json?.backup_type || 'manual';\nconst jobId = $('Start Backup Job').all()[0]?.json?.job_id;\n\nconst now = new Date();\nconst manifest = {\n  backup_id: `boo-${backupType}-${now.toISOString().split('T')[0]}`,\n  backup_type: backupType,\n  created_at: now.toISOString(),\n  store_hash: 'hhhi',\n  counts: {\n    products: products.length,\n    categories: categories.length,\n    brands: brands.length,\n    customers: customers.length,\n    orders: Array.isArray(orders) ? orders.length : 0\n  },\n  files: []\n};\n\nreturn [\n  {\n    json: {\n      job_id: jobId,\n      backup_type: backupType,\n      manifest: manifest,\n      data: {\n        products,\n        categories,\n        brands,\n        customers,\n        orders: Array.isArray(orders) ? orders : []\n      }\n    }\n  }\n];"
      },
      "id": "prepare-backup-data",
      "name": "Prepare Backup Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "boo-backups",
        "fileName": "={{ $json.backup_type }}/{{ new Date().toISOString().split('T')[0] }}/products.json",
        "fileContent": "={{ JSON.stringify($json.data.products, null, 2) }}"
      },
      "id": "upload-products",
      "name": "Upload Products to DO Spaces",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [1150, 0],
      "credentials": {
        "s3": {
          "id": "do-spaces",
          "name": "DO Spaces"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "boo-backups",
        "fileName": "={{ $json.backup_type }}/{{ new Date().toISOString().split('T')[0] }}/categories.json",
        "fileContent": "={{ JSON.stringify($json.data.categories, null, 2) }}"
      },
      "id": "upload-categories",
      "name": "Upload Categories",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [1150, 150],
      "credentials": {
        "s3": {
          "id": "do-spaces",
          "name": "DO Spaces"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "boo-backups",
        "fileName": "={{ $json.backup_type }}/{{ new Date().toISOString().split('T')[0] }}/brands.json",
        "fileContent": "={{ JSON.stringify($json.data.brands, null, 2) }}"
      },
      "id": "upload-brands",
      "name": "Upload Brands",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [1150, 300],
      "credentials": {
        "s3": {
          "id": "do-spaces",
          "name": "DO Spaces"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "boo-backups",
        "fileName": "={{ $json.backup_type }}/{{ new Date().toISOString().split('T')[0] }}/customers.json",
        "fileContent": "={{ JSON.stringify($json.data.customers, null, 2) }}"
      },
      "id": "upload-customers",
      "name": "Upload Customers",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [1150, 450],
      "credentials": {
        "s3": {
          "id": "do-spaces",
          "name": "DO Spaces"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "boo-backups",
        "fileName": "={{ $json.backup_type }}/{{ new Date().toISOString().split('T')[0] }}/orders.json",
        "fileContent": "={{ JSON.stringify($json.data.orders, null, 2) }}"
      },
      "id": "upload-orders",
      "name": "Upload Orders",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [1150, 600],
      "credentials": {
        "s3": {
          "id": "do-spaces",
          "name": "DO Spaces"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "boo-backups",
        "fileName": "={{ $json.backup_type }}/{{ new Date().toISOString().split('T')[0] }}/manifest.json",
        "fileContent": "={{ JSON.stringify($json.manifest, null, 2) }}"
      },
      "id": "upload-manifest",
      "name": "Upload Manifest",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [1400, 300],
      "credentials": {
        "s3": {
          "id": "do-spaces",
          "name": "DO Spaces"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT complete_boo_backup('{{ $json.job_id }}'::uuid, 'completed', '{{ JSON.stringify($json.manifest) }}'::jsonb)"
      },
      "id": "complete-backup-job",
      "name": "Complete Backup Job",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1600, 300],
      "credentials": {
        "supabaseApi": {
          "id": "boo-supabase",
          "name": "BOO Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dashboard_job_status (job_name, business, status, last_run_at, last_success_at) VALUES ('boo-store-backup', 'boo', 'healthy', now(), now()) ON CONFLICT (job_name, business) DO UPDATE SET status = 'healthy', last_run_at = now(), last_success_at = now()"
      },
      "id": "update-dashboard",
      "name": "Update Dashboard Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1800, 300],
      "credentials": {
        "supabaseApi": {
          "id": "boo-supabase",
          "name": "BOO Supabase"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Backup failed: {{ $json.error?.message || 'Unknown error' }}"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1400, 600]
    }
  ],
  "connections": {
    "Daily Trigger (2 AM AEST)": {
      "main": [
        [
          {
            "node": "Set Backup Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Trigger (3 AM AEST Sunday)": {
      "main": [
        [
          {
            "node": "Set Backup Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Trigger (4 AM AEST 1st)": {
      "main": [
        [
          {
            "node": "Set Backup Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Backup Type": {
      "main": [
        [
          {
            "node": "Start Backup Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Backup Job": {
      "main": [
        [
          {
            "node": "Fetch Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Categories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Brands",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Customers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products": {
      "main": [
        [
          {
            "node": "Prepare Backup Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Categories": {
      "main": [
        [
          {
            "node": "Prepare Backup Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Brands": {
      "main": [
        [
          {
            "node": "Prepare Backup Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Customers": {
      "main": [
        [
          {
            "node": "Prepare Backup Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Orders": {
      "main": [
        [
          {
            "node": "Prepare Backup Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Backup Data": {
      "main": [
        [
          {
            "node": "Upload Products to DO Spaces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Categories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Brands",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Customers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Products to DO Spaces": {
      "main": [
        [
          {
            "node": "Upload Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Categories": {
      "main": [
        [
          {
            "node": "Upload Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Brands": {
      "main": [
        [
          {
            "node": "Upload Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Customers": {
      "main": [
        [
          {
            "node": "Upload Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Orders": {
      "main": [
        [
          {
            "node": "Upload Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Manifest": {
      "main": [
        [
          {
            "node": "Complete Backup Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Backup Job": {
      "main": [
        [
          {
            "node": "Update Dashboard Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "backup",
      "id": "1"
    },
    {
      "name": "boo",
      "id": "2"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2025-12-01T00:00:00.000Z",
  "versionId": "1"
}
