infra/n8n-workflows/templates/health-check-workflow.json
{
  "name": "System Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "cd /root/master-ops && npx tsx tools/health-checks/integration-health-check.ts --services=supabase 2>&1",
        "timeout": 60
      },
      "name": "Run Health Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      },
      "name": "Check Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "healthy",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "All integrations healthy",
              "type": "string"
            },
            {
              "id": "stdout",
              "name": "stdout",
              "value": "={{ $('Run Health Check').item.json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "All Healthy",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 200]
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": ":warning: System Health Check Failed!\n\nOne or more integrations are unhealthy.\n\n```{{ $('Run Health Check').item.json.stdout }}```",
        "attachments": []
      },
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [850, 400],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[{
        "node": "Run Health Check",
        "type": "main",
        "index": 0
      }]]
    },
    "Run Health Check": {
      "main": [[{
        "node": "Check Result",
        "type": "main",
        "index": 0
      }]]
    },
    "Check Result": {
      "main": [
        [{
          "node": "All Healthy",
          "type": "main",
          "index": 0
        }],
        [{
          "node": "Send Slack Alert",
          "type": "main",
          "index": 0
        }]
      ]
    },
    "All Healthy": {
      "main": [[{
        "node": "Done",
        "type": "main",
        "index": 0
      }]]
    },
    "Send Slack Alert": {
      "main": [[{
        "node": "Done",
        "type": "main",
        "index": 0
      }]]
    }
  },
  "active": true,
  "settings": {
    "executionTimeout": 120,
    "errorWorkflow": "",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "versionId": "2"
}
