infra/n8n-workflows/templates/smartlead-hubspot-sync.json
{
  "name": "Smartlead → HubSpot Outreach Tracking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartlead-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Smartlead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400],
      "webhookId": "smartlead-webhook",
      "notes": "Receives webhook events from Smartlead:\n- EMAIL_SENT\n- EMAIL_OPEN\n- EMAIL_LINK_CLICK\n- EMAIL_REPLY\n- LEAD_UNSUBSCRIBED"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "event_type",
              "value": "={{ $json.event_type }}"
            },
            {
              "name": "campaign_id",
              "value": "={{ $json.campaign_id }}"
            },
            {
              "name": "campaign_name",
              "value": "={{ $json.campaign_name || '' }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $json.lead_id }}"
            },
            {
              "name": "lead_email",
              "value": "={{ $json.lead_email }}"
            },
            {
              "name": "lead_first_name",
              "value": "={{ $json.lead_first_name || '' }}"
            },
            {
              "name": "lead_last_name",
              "value": "={{ $json.lead_last_name || '' }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "email_sequence_number",
              "value": "={{ $json.data?.email_sequence_number || 0 }}"
            },
            {
              "name": "email_subject",
              "value": "={{ $json.data?.email_subject || '' }}"
            }
          ]
        }
      },
      "id": "parse-webhook-data",
      "name": "Parse Webhook Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT get_hubspot_id('{{ $json.lead_email }}', 'smartlead', 'contact') as hubspot_id",
        "options": {}
      },
      "id": "check-hubspot-contact",
      "name": "Check HubSpot Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 400],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Supabase"
        }
      },
      "notes": "Check if we've already synced this contact to HubSpot"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.hubspot_id }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "contact-exists",
      "name": "Contact Exists in HubSpot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"email\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{ $json.lead_email }}\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"email\", \"firstname\", \"lastname\", \"cold_outreach_status\"],\n  \"limit\": 1\n}",
        "options": {}
      },
      "id": "search-by-email",
      "name": "Search HubSpot by Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "HubSpot API"
        }
      },
      "notes": "Search for existing contact in HubSpot by email"
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"email\": \"{{ $json.lead_email }}\",\n    \"firstname\": \"{{ $json.lead_first_name }}\",\n    \"lastname\": \"{{ $json.lead_last_name }}\",\n    \"cold_outreach_status\": \"contacted\",\n    \"smartlead_campaign_id\": \"{{ $json.campaign_id }}\",\n    \"smartlead_campaign_name\": \"{{ $json.campaign_name }}\",\n    \"first_outreach_date\": \"{{ $json.timestamp }}\",\n    \"contact_type\": \"prospect\",\n    \"lifecyclestage\": \"lead\",\n    \"source_system\": \"smartlead\"\n  }\n}",
        "options": {}
      },
      "id": "create-contact",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "HubSpot API"
        }
      },
      "notes": "Create new contact in HubSpot if not found"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "lead_email",
              "field2": "email"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-contact-data",
      "name": "Merge Contact Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1050, 500],
      "notes": "Merge webhook data with existing HubSpot contact"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "value2": "EMAIL_SENT"
            }
          ]
        }
      },
      "id": "event-type-switch",
      "name": "Event Type?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1250, 500],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.event_type }}",
                    "value2": "EMAIL_SENT"
                  }
                ]
              },
              "output": 0
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.event_type }}",
                    "value2": "EMAIL_OPEN"
                  }
                ]
              },
              "output": 1
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.event_type }}",
                    "value2": "EMAIL_LINK_CLICK"
                  }
                ]
              },
              "output": 2
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.event_type }}",
                    "value2": "EMAIL_REPLY"
                  }
                ]
              },
              "output": 3
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.event_type }}",
                    "value2": "LEAD_UNSUBSCRIBED"
                  }
                ]
              },
              "output": 4
            }
          ]
        }
      },
      "notes": "Route to appropriate handler based on event type"
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PATCH",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"last_outreach_email_sent\": \"{{ $json.timestamp }}\",\n    \"outreach_email_count\": {{ ($json.properties?.outreach_email_count || 0) + 1 }},\n    \"last_email_sequence_number\": {{ $json.email_sequence_number }},\n    \"last_email_subject\": \"{{ $json.email_subject }}\"\n  }\n}",
        "options": {}
      },
      "id": "update-email-sent",
      "name": "Update: Email Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PATCH",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"last_email_open_date\": \"{{ $json.timestamp }}\",\n    \"email_open_count\": {{ ($json.properties?.email_open_count || 0) + 1 }},\n    \"cold_outreach_status\": \"engaged\"\n  }\n}",
        "options": {}
      },
      "id": "update-email-open",
      "name": "Update: Email Opened",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PATCH",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"last_email_click_date\": \"{{ $json.timestamp }}\",\n    \"email_click_count\": {{ ($json.properties?.email_click_count || 0) + 1 }},\n    \"cold_outreach_status\": \"highly_engaged\"\n  }\n}",
        "options": {}
      },
      "id": "update-email-click",
      "name": "Update: Link Clicked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PATCH",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"last_email_reply_date\": \"{{ $json.timestamp }}\",\n    \"email_reply_count\": {{ ($json.properties?.email_reply_count || 0) + 1 }},\n    \"cold_outreach_status\": \"replied\",\n    \"lifecyclestage\": \"marketingqualifiedlead\"\n  }\n}",
        "options": {}
      },
      "id": "update-email-reply",
      "name": "Update: Email Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "HubSpot API"
        }
      },
      "notes": "Move to Marketing Qualified Lead on reply"
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PATCH",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"unsubscribe_date\": \"{{ $json.timestamp }}\",\n    \"cold_outreach_status\": \"unsubscribed\",\n    \"hs_email_optout\": true\n  }\n}",
        "options": {}
      },
      "id": "update-unsubscribed",
      "name": "Update: Unsubscribed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO integration_logs (source, operation, status, external_id, external_object_type, details) VALUES ('smartlead', 'webhook_received', 'success', '{{ $json.lead_email }}', '{{ $json.event_type }}', '{{ JSON.stringify($json) }}'::jsonb) ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "log-to-supabase",
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1650, 500],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Supabase"
        }
      },
      "notes": "Log all events to Supabase for monitoring"
    }
  ],
  "connections": {
    "Smartlead Webhook": {
      "main": [
        [
          {
            "node": "Parse Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Data": {
      "main": [
        [
          {
            "node": "Check HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check HubSpot Contact": {
      "main": [
        [
          {
            "node": "Contact Exists in HubSpot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Exists in HubSpot?": {
      "main": [
        [
          {
            "node": "Search HubSpot by Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search HubSpot by Email": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Contact": {
      "main": [
        [
          {
            "node": "Merge Contact Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Contact Data": {
      "main": [
        [
          {
            "node": "Event Type?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Type?": {
      "main": [
        [
          {
            "node": "Update: Email Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update: Email Opened",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update: Link Clicked",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update: Email Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update: Unsubscribed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Email Sent": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Email Opened": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Link Clicked": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Email Reply": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Unsubscribed": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-21T10:00:00.000Z",
  "versionId": "1"
}
