infra/n8n-workflows/templates/unleashed-full-sync.json
{
  "name": "Unleashed Full Sync (Weekly Sunday)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 0"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Sunday 3am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ops.growthcohq.com/api/cron/unleashed-sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"store\": \"teelixir\",\n  \"type\": \"full\"\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "sync-full",
      "name": "Full Sync to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO integration_logs (source, service, operation, level, status, message, details_json)\nVALUES (\n  'unleashed',\n  'full_sync',\n  'weekly_sync',\n  'info',\n  'success',\n  'Weekly full sync completed: {{ $json.summary.synced }} records synced, {{ $json.summary.failed }} failed',\n  '{{ JSON.stringify($json) }}'::jsonb\n)",
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "supabase",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO integration_logs (source, service, operation, level, status, message, details_json)\nVALUES (\n  'unleashed',\n  'full_sync',\n  'weekly_sync',\n  'error',\n  'failed',\n  'Weekly full sync failed: {{ $json.error || \"Unknown error\" }}',\n  '{{ JSON.stringify($json) }}'::jsonb\n)",
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "supabase",
          "name": "Supabase"
        }
      }
    }
  ],
  "connections": {
    "Sunday 3am": {
      "main": [
        [
          {
            "node": "Full Sync to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Sync to Supabase": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "unleashed-full-sync",
  "meta": {
    "instanceId": "master-ops"
  },
  "tags": [
    {
      "name": "teelixir"
    },
    {
      "name": "unleashed"
    },
    {
      "name": "sync"
    }
  ]
}
